# This is the .envrc file. It is only loaded on the host machine which the docker daemon is running on.

export GOPATH=${PWD}/.direnv

# wasmbrowsertest uses the $GOROOT from env.
export GOROOT=$(go env GOROOT)

export GOOS=js
export GOARCH=wasm

export PROJECT_ROOT=${PWD}

PATH_add "$PWD/.direnv/bin"
PATH_add "$PWD/bin"
