# This is the .envrc file. It is only loaded on the host machine which the docker daemon is running on.

# wasmbrowsertest uses the $GOROOT from env.
export GOROOT=$(go env GOROOT)

export GOOS=js
export GOARCH=wasm
